# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

ui/.tmp
ui/.sass-cache
ui/.publish
ui/coverage/
ui/build/
ui/dist/
ui/node_modules/
ui/reports/
ui/webpack.stats.json
ui/src/enterprise
ui/.DS_Store
ui/out/

tasks/node_modules/
tasks/.DS_Store

deployment/.DS_Store
deployment/supabase-docker/volumes/db/data
deployment/supabase-docker/volumes/storage
deployment/docker-compose.prod.yml
deployment/prod/

cli/.DS_Store
cli/node_modules
.DS_Store

docs/.DS_Store
docs/node_modules

sdk/browserable-js/node_modules
sdk/browserable-js/.DS_Store

sdk/browserable-js/dist
sdk/browserable-js/coverage
sdk/browserable-js/test
sdk/browserable-js/test-results

# Add all node_modules folders of all subdirectories
**/node_modules
